@media (max-width: 991px) {
    .container {
        max-width: 880px;
    }
}

@media (max-width: 776px) {
    .container {
        max-width: 695px;
    }
    .title {
        &_left {
            text-align: center;
            width: 100%;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
    .carousel {
        .prev, .next {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 440px;
    }
    .header {
        &__official {
            &_hidden {
                display: none;
            }
        }
    }
    .promo {
        min-height: 615px;
        &__wrapper {
            margin-top: 65px;
            align-items: center;
        }
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
        &__subheader {
            font-size: 21px;
            line-height: 21px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
        }
    }
    .consultation {
        &__descr {
            font-size: 19px;
            line-height: 28px;
        }
    }
    .title {
        &_left {
            font-size: 33px;
            line-height: 46px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;

        }
        &__tab {
            margin: 5px auto;
        }
    }
    .review {
        &__item {
            flex-direction: column;
        }
        &__photo {
            margin: 0 auto;
        }
        &__block {
            margin-top: 15px;
            text-align: center;
        }
    }
    .footer {
        &__info {
            max-width: 350px;
            width: 100%;
            padding: 30px 50px 30px 50px;
        }
    }
    .modal {
        width: 298px;
        padding: 30px 20px 30px 20px;
        &__close {
            top: -39px;
            right: -2px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .feed-form {
        margin-top: 25px;
        input {
            height: 48px;
            margin-bottom: 10px;
        }
    }
    label.error {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 290px;
    }
    .header {
        flex-direction: column;
        &__official {
            margin-top: 15px;
            display: block;
            font-size: 15px;
            span {
                font-size: 25px;
            }
        }
        &__contacts {
            margin-top: 15px;
        }
        &__phone {
            font-size: 25px;
        }
    }
    .button {
        display: block;
        margin: 5px auto 0 auto;
        width: 215px;
        height: 40px;
        font-size: 15px;
        &_main {
            margin-top: 10px;
            height: 47px;
        }
        &_submit {
            width: 100%;
            height: 58px;
        }
        &_mini {
            width: 135px;
            height: 44px;
            font-size: 14px;
            margin-top: 0;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 48px;
        }
        &__header {
            font-size: 38px;
            line-height: 43px;
            text-align: center;
            margin: 0;
        }
        &__subheader {
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin: 17px auto 0 auto;
        }
        &__icons {
            width: 100%;
            margin-top: 30px;
            flex-direction: column;
            align-items: center
        }
        &__icon {
            margin-bottom: 5px;
            img {
                height: 40px;
                width: 40px;
                margin-bottom: 10px;
            }
        }
    }
    .consultation {
        min-height: 542px;
        padding: 70px 0 60px 0;
        &__descr {
            font-size: 18px;
            line-height: 25px;
        }
    }
    .title {
        &_left {
            font-size: 28px;
            line-height: 29px;
        }
    }
    .carousel {
        padding: 70px 0 70px 0;
    }
}
